.container {
    max-width: 120rem;
    margin: 8rem auto;
    background-color: var(--color-grey-light-1);
    -webkit-box-shadow: var(--shadow-dark);
    box-shadow: var(--shadow-dark);
    min-height: 50rem;
    @media only screen and (max-width: $bp-largest) {
        margin: 0;
        max-width: 100%;
        width: 100%;
    }
}

//flex-container
.header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; // divide o espaço horizontal vazio igualmente entre os elementos
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; // alinha os elementos verticalmente no centro
    height: 7rem;
    background-color: white;
    border-bottom: var(--line);
    font-size: 1.4rem;
    @media only screen and (max-width: $bp-smallest) {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap; // se não tiver espaço o elemento muda de linha
        -ms-flex-line-pack: distribute;
        align-content: space-around; // espaço automático entre a altura
        height: 11rem;
    }
}

//flex-container
.content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    @media only screen and (max-width: $bp-medium) {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
}

//flex-item
.side-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; // flex container que muda a direção do flex
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; // os items ficam nos extremos
    -webkit-box-flex: 0;
    -ms-flex: 0 0 18%;
    flex: 0 0 18%; // pode aumentar? pode encolher? largura
    background-color: var(--color-grey-dark-1);
}

//flex-item
.hotel-view {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1; // pode aumentar?
    background-color: white;
}

.detail {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; // flex container
    padding: 4.5rem;
    background-color: var(--color-grey-light-1);
    border-bottom: var(--line);
    font-size: 1.4rem;
    @media only screen and (max-width: $bp-medium) {
        padding: 3rem;
    }
    @media only screen and (max-width: $bp-small) {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
}

.description {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 60%;
    flex: 0 0 60%; // pode aumentar? pode encolher? largura
    margin-right: 4.5rem;
    background-color: white;
    -webkit-box-shadow: var(--shadow-light);
    box-shadow: var(--shadow-light);
    padding: 3rem;
    @media only screen and (max-width: $bp-medium) {
        padding: 2rem;
        margin-right: 3rem;
    }
    @media only screen and (max-width: $bp-small) {
        margin-right: 0;
        margin-bottom: 3rem;
    }
}

.user-reviews {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1; //ocupa o que sobrar
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}